
.color input {
    visibility: hidden;
    width: 0;
    margin: 0;
}
.color label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
}
.color input[type="radio"]:checked+label:after { 
    content: "";
    position: absolute;
    transform: rotate(45deg);
    left: 10px;
    top: 6px;
    opacity: .5;
    width: 5px;
    height: 10px;
    border-right: 1px solid;
    border-bottom: 1px solid;
  } 