.note{
    height: 300px;
    width:250px;
    border: 1px solid grey;
    border-radius: 5px;
    padding:10px;
}
.note h4
{
    margin: 0 0 5px 0;
}
.note textarea{
    border: none;
    resize: none;
    width:100%;
    height: 90%;
}
.note input{
    border: none;
}
.note textarea:focus {
    outline: none;
}
.note input:focus {
    outline: none;
}
    